
.projects{
	position: relative;
	font-family: didot;
	color:white;
	font-size: 60px;
	left: 20px;
	top: 15px;
}

.line{
	position: relative;
	top: -35px;
}

.P1{
	position: relative;
	font-family:open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}

.P1:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

.P2{
	position: relative;
	font-family: open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}
.P2:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

.P3{
	position: relative;
	font-family: open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}
.P3:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

.P4{
	position: relative;
	font-family: open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}
.P4:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

.P5{
	position: relative;
	font-family: open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}
.P5:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

.P6{
	position: relative;
	font-family: open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}
.P6:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

.P7{
	position: relative;
	font-family: open sans;
	color:white;
	font-size: 30px;
	left: 20px;
	top: 15px;
}
.P7:hover{
	cursor: pointer;
	transform: translate(20px, 0px);
}

