*{
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    color: white;
}

.container {
    width: 100vw;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    background: black;
}

.pinkText {
    position: absolute;
    top: 3.5%;
    left: 77%;
    width: 120px;
    height: 110px;
}

.draggable {
    cursor: move;
}

.discoball {
    position: absolute;
    top: -5%;
    left: 41%;
    width: 300px;
    height: 290px;
}

.chat {
    position: absolute;
    width: 265px;
    height: 340px;
    top: 30%;
    left: 65.5%;
}

.welcome_text {
    position: absolute;
    top: 44.5%;
    left: 82%;
    font-size: 22px;
    font-family: Fjalla One;
    color: white;
    letter-spacing: 0.1em;
}

.live_video {
    position: absolute;
    width: 620px;
    height: 417px;
    top: 22%;
    left: 21.3%;
    cursor: pointer;
}

.spotify {
    position: absolute;
    top: 35.7%;
    left: 5%;
}

.spotify_frame {
    position: absolute;
    top: 13.2%;
    left: 1.8%;
    width: 380px;
    height: 550px;
}

.donate {
    position: absolute;
    width: 110px;
    height: 42px;
    background: white;
    border-radius: 7px;
    color: black;
    top: 34.5%;
    left: 87.5%;
    padding: 8px;
    font-size: 22px;
    font-family: Fjalla One;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.donate:active {
    background-color:white;
    box-shadow: 0 5px white;
    transform: translateY(4px);
}

.donate:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    transform: translateY(4px);
}

.donation_name {
    position: absolute;
    top: 81%;
    left: 4%;
    width: 300px;
    height: 70px;
}

.escondido_name {
    position: absolute;
    top: 28%;
    left: 11%;
}

.escondido_name:hover {
    transform : scale(1.2); 
    cursor: pointer;
}

.escondido_flowers {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 290px;
    height: 190px;
}

.escondido_slogan {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 370px;
    height: 70px;
}

.dj_name {
    position: absolute;
    top: 85%;
    left: 35%;
    width: 270px;
    height: 39px;
}

.time {
    position: absolute;
    top: 92%;
    left: 42.5%;
    width: 125px;
    height: 19px;
}

.woman_flowers {
    position: absolute;
    top: 18.5%;
    left: 76%;
    width: 150px;
    height: 190px;
}

.woman_flowers:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.man_flowers {
    position: absolute;
    top: 0.5%;
    left: 75%;
    width: 180px;
    height: 330px;
}

.disco_ball {
    position: absolute;
    top: -5%;
    left: 30%;
    width: 410px;
    height: 360px;
}

form, p, span {
    margin:0;
    padding:0; 
}
  
input { 
    font:12px helvetica; 
}
  
a {
    columns: white;
    text-decoration:none; }
  
    a:hover { 
        text-decoration:underline; 
    }
  
#submitmsg { 
    width: 50px;
    top: 81.5%;
    left: 91.8%;
    position: fixed;
}   
    
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    padding-left: 20px;
    background:black;
    width:313px;
    height: 340px;
    border:1px solid white; 
    border-radius: 20px;
    top: 43%;
    left: 75%;
    position: fixed;
}
  
#loginform { 
    padding-top:18px; 
}
  
#loginform p { 
    margin: 5px; 
}
  
#chatbox {
    text-align:left;
    margin-bottom:25px;
    margin-left: 0.5px;
    padding:10px;
    background:#fff;
    height:250px;
    width:270px;
    border:1px solid white;
    border-radius: 10px;
    overflow: auto; 
    top: 48%;
    left: 76.5%;
    position: fixed;
}

#usermsg {
    width:210px;
    border:1px solid white; 
    border-radius: 5px;
    margin-left: -2px;
    top: 81.5%;
    left: 76.8%;
    position: fixed;
}
  
.error { 
    color: #ff0000; 
}
  
#menu { 
    padding:12.5px 22px 12.5px 2px; 
    font-family: Helvetica, sans-serif;
}
  
.welcome { 
    float:left; 
}
  
.logout { 
    float:right; 
}
  
.msgln { 
    margin:0 0 2px 0; 
}

@media screen and (max-width: 800px) {

    .container {
        height: auto;
        overflow: scroll;
    }

}