body{
background-color: black;
}

.ESBlogo{
position: fixed;
width: 110px;
height: 180px;
top: 25px;
left:40px;
}

.myButton {
	position: fixed;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Quicksand;
	font-size:28px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	left: 40px;
    top: 230px;
    font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.1em;
}
.myButton:hover {
	background-color:transparent;
	color:#FBC504;
}
.myButton:active {
	position:fixed;
}

.myButton2 {
	position: fixed;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Quicksand;
	font-size:28px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	left: 40px;
	top: 280px;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.1em;
}
.myButton2:hover {
	background-color:transparent;
	color:#FBC504;
}
.myButton2:active {
	position:fixed;
}

.myButton3 {
	position: fixed;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Quicksand;
	font-size:28px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	left: 40px;
	top: 335px;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.1em;
}
.myButton3:hover {
	background-color:transparent;
	color:#FBC504;
}
.myButton3:active {
	position:fixed;
}

.myButton4 {
	position: fixed;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Quicksand;
	font-size:28px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	left: 40px;
	top: 390px;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.1em;
}
.myButton4:hover {
	background-color:transparent;
	color:#FBC504;
}
.myButton4:active {
	position:fixed;
}

.myButton5 {
	position: fixed;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Quicksand;
	font-size:28px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	left: 40px;
	top: 448px;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.1em;
}
.myButton5:hover {
	background-color:transparent;
	color:#FBC504;
}
.myButton5:active {
	position:fixed;
}

.EN{
position: fixed;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.1em;
color: #FFFFFF;

top: 748px;
left:30px;
}

.EN:hover { 
	text-decoration: underline;
	cursor: pointer; 
}

.BAR{
position: fixed;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.1em;
color: #FFFFFF;

top: 748px;
left:65px;
}

.ES{
position: fixed;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.1em;
color: #FFFFFF;

top: 748px;
left:83px;
}

.ES:hover { 
	text-decoration: underline;
	cursor: pointer;
 }

.phone{
position: fixed;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.1em;
color: #FFFFFF;

top: 728px;
left:1332px;
}

.email{
position: fixed;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.1em;
color: #FFFFFF;

top: 745px;
left:1275px;
}

.ESB{
position: fixed;
top: 150px;
left:570px;
width: 300px;
height: 650px;
}