.collage{
	background-color: black;
	width:103%;
	min-height: 112%
}

.container{
	width:100%;
	max-width: 100%
	height:100%;
	background: black;
	position: relative;
	margin: 0 auto;
}

.image1{
	position: absolute;
	top:370px;
	left:1015px;
}

.image2{
	position: absolute;
	top:50px;
	left:750px;
}

.image3{
	position: absolute;
	top:300px;
	left:745px;
}

.image4{
	position: absolute;
	top:65px;
	left:1050px;
}

.image5{
	position: absolute;
	top:50px;
	left:100px;
}

.image6{
	position: absolute;
	top:560px;
	left:20px;
}

.image7{
	position: absolute;
	top:550px;
	left:535px;
}

.image8{
	position: absolute;
	top:575px;
	left:285px;
}

.image9{
	position: absolute;
	top:550px;
	left:730px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: maroon;
}
.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9{
	position: relative;
	top:auto;
	left:auto;
}


}



