body { 
  overflow-x: hidden;
  max-height: 2000px;
}

.home {
  color: white;
  position: relative;
  left: 1190px;
  top: 20px;
  font-family:blacker display;
  font-size: 13px;
}

.heading{
  color: white;
  position: relative;
  left: 20px;
  top: -30px;
  font-family: didot;
}

.line{
  color: white;
  position: relative;
  top: -40px;
}

.container{
	position: relative;
	color: white;
	text-align: center;
}

.intro{
	position: absolute;
	top:170px;
	left:1097px;
	font-size: 25px;
	text-decoration: underline;
}

.intro1{
	position: absolute;
	top:203px;
	left:1017px;
	font-size: 20px;
}

.intro1{
	animation: animated-text 4s steps(29,end) 0.7s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
             animation-delay: 0s;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 280px;}
}

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: white;}
}

.intro2{
	position: absolute;
	top:223px;
	left:1020px;
	font-size: 20px;
}

.intro2{
	animation: animated-text 4s steps(29,end) 0.7s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
             animation-delay: 3s;
             overflow: hidden;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 290px;}
}

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: white;}
}

.intro3 {
	position: absolute;
	top:244px;
	left:1020px;
	font-size: 20px;
}

.intro3{
	animation: animated-text 4s steps(29,end) 0.7s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
             animation-delay: 6s;
             overflow: hidden;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 290px;}
}

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: white;}
}
}

.containers{
	position: relative;
	color: white;
	text-align: center;
}

.walk{
	position: absolute;
	top:740px;
	left:220px;
	font-size: 19px;
	color: white;
}

.walk2{
	position: absolute;
	top:761px;
	left:138px;
	font-size: 19px;
	color: white;
}

.walk3{
	position: absolute;
	top:783px;
	left:85px;
	font-size: 19px;
	color: white;
}

.containerssss{
	position: relative;
	color: white;
	text-align: center;
}

.containerss{
	position: relative;
	color: white;
	text-align: center;
}

.rock{
	position: absolute;
	top:-200px;
	left:132px;
	font-size: 20px;
	color: white;
}

.rock1{
	position: absolute;
	top:-180px;
	left:124px;
	font-size: 20px;
	color: white;
}

.rock2{
	position: absolute;
	top:-160px;
	left:110px;
	font-size: 20px;
	color: white;
}

.rock3{
	position: absolute;
	top:-140px;
	left:165px;
	font-size: 20px;
	color: white;
}

.containersss{
	position: relative;
	color: white;
	text-align: center;
}

.rrock{
	position: absolute;
	top:-110px;
	left:1135px;
	font-size: 20px;
	color: white;
}

.rrock1{
	position: absolute;
	top:-88px;
	left:1145px;
	font-size: 20px;
	color: white;
}

.rrock2{
	position: absolute;
	top:-65px;
	left:1146px;
	font-size: 20px;
	color: white;
}

.image1{
}

.image2{
	
}

.image3{
	
}

.containerss:hover {
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-0.5deg); }
  20% { transform: translate(-3px, 0px) rotate(0.5deg); }
  30% { transform: translate(3px, 2px) rotate(0.5deg); }
  40% { transform: translate(1px, -1px) rotate(0.5deg); }
  50% { transform: translate(-1px, 2px) rotate(-0.5deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-0.5deg); }
  80% { transform: translate(-1px, -1px) rotate(0.5deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-0.5deg); }
}
	
}

.image5{
	
}

.image6{
	
}

.image7{
	
}

.image8{
	position: relative;
}

.image9{
	
}

.image10{
	
}

.image11{
	
}

.image12{
	top: -650px;
	position: relative;
	left: 805px;
}

.run{
  color: white;
  position: relative;
  left: 730px;
  top: -1300px;
  font-size: 90px;
  font-family: impact;
}

.run{
  animation: pop 1.5s ease-in-out;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pop {
  0%  {
    transform:scale(1.2);
  }
}

.forrest{
  color: white;
  position: relative;
  left: 650px;
  top: -1380px;
  font-size: 90px;
  font-family: impact;
}

.forrest{
  animation: pop 1.3s ease-in-out;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pop {
  0%  {
    transform:scale(1.2);
  }
}

.run2{
  color: white;
  position: relative;
  left: 725px;
  top: -1450px;
  font-size: 90px;
  font-family: impact;
}

.run2{
  animation: pop 1.5s ease-in-out;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pop {
  0%  {
    transform:scale(1.2);
  }
}

.gif13{
	position: relative;
	top: -1318px;
}

.image14{
	position: relative;
	top: -1318px;
}

.img1 {
	position: relative;
    top: -1220px;
	left:2px;
    opacity: 50%;
    transition: opacity 0.9s;
}

.img1:hover {
    opacity: 100%;
}

.img2{
	opacity: 40%;
    transition: opacity 0.9s;

	position: relative;
	top: -1810px;
	left:390px;
}
.img2:hover {
    opacity: 100%;
}

.img3{
	opacity: 30%;
    transition: opacity 0.9s;
	position: relative;
	top: -2442px;
	left:820px;
}
.img3:hover {
    opacity: 100%;
}

.image15{
	
}

.collage{
	position: relative;
	top: -2694px;

}





